  @font-face {
      font-family: 'lg_smartregular';
      src: url('../fonts/lg_smart_regular-webfont.eot');
      src: url('../fonts/lg_smart_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lg_smart_regular-webfont.woff') format('woff'), url('../fonts/lg_smart_regular-webfont.ttf') format('truetype'), url('../fonts/lg_smart_regular-webfont.svg#lg_smartregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
  html,
  body {
      margin: 0px;
      padding: 0px;
      font-size: 12px;
      font-family: 'lg_smartregular';
      background: #f6f6f6;
      overflow-x: hidden;
  }
  
  header {
      background: #f6f6f6;
      width: 100%;
  }
  
  .clearfix {
      clear: both
  }
  
  .slide-1,
  .slide-2 {
      background: url(img/header-bg.jpg) no-repeat center center;
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  .wrapper {
      width: 100%;
      height: auto;
      position: relative;
  }
  
  .fixed-header {
      width: 100%;
      height: 160px;
      display: block;
      position: fixed;
      top: 0;
      z-index: 2;
  }
  
  .wrapper .top-wrapper {
      width: 100%;
      height: 30px;
      background: #333333;
  }
  
  .wrapper .logo {
      width: 165px;
      height: 93px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -83px;
  }
  /*+++++++++++++++++++++++++++++++++fixed-bottom and scroll-button+++++++++++++++++++++++++++++++*/
  
  .fixed-bottom {
      width: 100%;
      height: 100px;
      bottom: 0;
      position: relative;
      left: 0;
  }
  
  .fixed-bottom .scroll-here {
      color: #fff;
      position: absolute;
      /* transform: translatex(-50%); */
      width: 300px;
      left: 50%;
      margin-left: -150px;
      text-align: center;
  }
  
  @-webkit-keyframes ani-mouse {
      0% {
          opacity: 1;
          top: 29%;
      }
      15% {
          opacity: 1;
          top: 50%;
      }
      50% {
          opacity: 0;
          top: 50%;
      }
      100% {
          opacity: 0;
          top: 29%;
      }
  }
  
  @-moz-keyframes ani-mouse {
      0% {
          opacity: 1;
          top: 29%;
      }
      15% {
          opacity: 1;
          top: 50%;
      }
      50% {
          opacity: 0;
          top: 50%;
      }
      100% {
          opacity: 0;
          top: 29%;
      }
  }
  
  @keyframes ani-mouse {
      0% {
          opacity: 1;
          top: 29%;
      }
      15% {
          opacity: 1;
          top: 50%;
      }
      50% {
          opacity: 0;
          top: 50%;
      }
      100% {
          opacity: 0;
          top: 29%;
      }
  }
  
  .scroll-btn {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
  }
  
  .scroll-btn > * {
      display: inline-block;
      line-height: 18px;
      font-size: 13px;
      font-weight: normal;
      color: #485461;
      letter-spacing: 2px;
  }
  
  .scroll-btn > *:hover,
  .scroll-btn > *:focus,
  .scroll-btn > *.active {
      color: #ffffff;
  }
  
  .scroll-btn > *:hover,
  .scroll-btn > *:focus,
  .scroll-btn > *:active,
  .scroll-btn > *.active {
      opacity: 0.8;
      filter: alpha(opacity=1);
  }
  
  .scroll-btn .mouse {
      position: relative;
      display: block;
      width: 36px;
      height: 34px;
      margin: 0 auto 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 23px;
  }
  
  .scroll-btn .mouse > * {
      position: absolute;
      display: block;
      top: 29%;
      left: 0%;
      width: 36px;
      height: 34px;
      margin-left: : -18px;
      border-radius: 50%;
      -webkit-animation: ani-mouse 2s linear infinite;
      -moz-animation: ani-mouse 2s linear infinite;
      animation: ani-mouse 2s linear infinite;
      background: url('../img/arrow-down.png');
  }
  
  .scroll-text {
      color: #333;
      font-size: 22px;
      font-weight: 500;
  }
  /*===================end=====*/
  /*======================================one-slide=================================*/
  
  .first-slide-text {
      width: 100%;
      margin-top: 200px;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }
  
  .first-slide-text .head-text h1 {
      font-size: 147px;
      font-weight: 300;
      margin: 30px;
      color: #333;
  }
  
  .head-text {
      margin-bottom: 77px;
  }
  
  .head-text h1 .growl {
      text-transform: uppercase;
      font-weight: bold;
      color: #ad1947;
  }
  
  .head-text h1 .growl b {
      position: relative;
  }
  
  .slide-1 .first-slide-text .head-text h1 span b:after {
      margin-bottom: 9px !important;
  }
  
  .growl b:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -22px;
      width: 45px;
      height: 31px;
      margin-top: -22px;
      background: url('../img/o-text-before.png');
  }
  
  .growl b:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -22px;
      width: 45px;
      height: 31px;
      margin-bottom: 4px;
      background: url('../img/o-text-after.png');
  }
  
  .head-text h1 .h {
      font-size: 160px;
      letter-spacing: -38px;
      font-weight: bold;
      color: #ad1947;
  }
  
  .bottom-text {
      font-weight: 600;
      font-size: 36px;
      color: #333;
      text-align: center;
      letter-spacing: 1px;
  }
  
  .gelatine {
      -webkit-animation: gelatine 0.5s infinite;
      animation: gelatine 0.5s infinite;
  }
  
  @-webkit-keyframes gelatine {
      from,
      to {
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      25% {
          -webkit-transform: scale(0.9, 1.1);
          transform: scale(0.9, 1.1);
      }
      50% {
          -webkit-transform: scale(1.1, 0.9);
          transform: scale(1.1, 0.9);
      }
      75% {
          -webkit-transform: scale(0.95, 1.05);
          transform: scale(0.95, 1.05);
      }
  }
  
  @keyframes gelatine {
      from,
      to {
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      25% {
          -webkit-transform: scale(0.9, 1.1);
          transform: scale(0.9, 1.1);
      }
      50% {
          -webkit-transform: scale(1.1, 0.9);
          transform: scale(1.1, 0.9);
      }
      75% {
          -webkit-transform: scale(0.95, 1.05);
          transform: scale(0.95, 1.05);
      }
  }
  
  .circle {
      display: inline-block;
  }
  /*======================================two slide======================================*/
  
  .first-slide-text2 {
      width: 100%;
      margin-top: 200px;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }
  
  .first-slide-text2 .bottom-text2 h1 {
      font-size: 52px;
      font-weight: 300;
      margin: 30px;
      color: #333;
  }
  
  .bottom-text2 {
      margin-bottom: 77px;
  }
  
  .bottom-text2 h1 .growl {
      text-transform: uppercase;
      font-weight: bold;
      color: #ad1947;
  }
  
  .bottom-text2 h1 .growl b {
      position: relative;
  }
  
  .growl b:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -16px;
      width: 33px;
      height: 22px;
      margin-top: -18px;
      background: url('../img/o-text-before-tab.png');
  }
  
  .growl b:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -16px;
      width: 33px;
      height: 22px;
      margin-bottom: -8px;
      background: url('../img/o-text-after-tab.png');
  }
  
  .bottom-text2 h1 .h {
      font-size: 66px;
      letter-spacing: -14px;
      font-weight: bold;
      color: #ad1947;
  }
  
  .head-text2 span.one {
      display: block;
      font-size: 51px;
      color: #333;
      line-height: 31px
  }
  
  .head-text2 span.two {
      display: block;
      font-size: 103px;
      color: #333;
      font-weight: bold;
  }
  
  .head-text2 span.three {
      display: block;
      color: #333;
      font-size: 259px;
      font-weight: bold;
      line-height: 189px;
  }
  
  .head-text2 .two span {
      color: #ad1947;
  }
  /*======================================three slide======================================*/
  
  .first-slide-text3 {
      text-align: center;
      margin-top: 104px;
  }
  
  .bottom-img .bottom-text2 h1 {
      font-size: 39px;
      font-weight: 300;
      margin: 30px;
      color: #333;
  }
  
  .bottom-img .bottom-text2 h1 .h {
      font-size: 51px;
      letter-spacing: -10px;
      font-weight: bold;
      color: #ad1947;
  }
  
  .bottom-img .bottom-text2 h1 .growl b:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -7px;
      width: 14px;
      height: 9px;
      margin-top: -8px;
      background: url('../img/o-text-type-3-up.png');
  }
  
  .bottom-img .bottom-text2 h1 .growl b:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -7px;
      width: 14px;
      height: 9px;
      margin-bottom: -2px;
      background: url('../img/o-text-type-3-down.png');
  }
  
  .bottom-img {
      width: 100%;
      min-height: 1px;
      background-size: 100%;
  }
  
  .slide-3 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      position: relative;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  .background-slide3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
  }
  
  .right-user {
      width: 43%;
      right: 0;
      bottom: 0;
      position: absolute;
      float: right;
      margin-bottom: 80px;
  }
  
  .left-user {
      width: 43%;
      left: 0;
      height: auto;
      bottom: 0;
      position: absolute;
      float: left;
      margin-bottom: 80px;
  }
  
  .left-user img {
      float: left;
      max-width: 100%;
  }
  
  .right-user img {
      float: right;
      max-width: 100%;
  }
  
  .bottom-user {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
  }
  
  .bottom-user span img {
      display: block;
      margin: 0 auto;
      width: 100%;
  }
  
  #count-2 {
      display: none;
  }
  
  .user-head-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
  }
  
  .user-head-bottom img {
      width: 100%;
  }
  
  .our-planet-text {
      font-size: 35px;
      color: #333;
      text-align: center;
      line-height: 50px;
  }
  
  .our-planet-text span {
      font-size: 57px;
      color: #ad1947;
      text-align: center;
      display: block;
      font-weight: bold;
  }
  
  .bottom-img .bottom-text2 {
      margin-bottom: 27px;
  }
  /*======================================four slide======================================*/
  
  .slide-4 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background: #fff;
  }
  /*======================================five slide======================================*/
  
  .first-slide-text5 {
      width: 100%;
      margin-top: 57px;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }
  
  .slide-5 {
      background: url('../img/bg-6-slide.png') no-repeat center center;
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: relative;
  }
  
  .count-percentage {
      font-size: 228px;
      font-weight: bold;
      color: #ad1947;
      letter-spacing: -15px;
  }
  
  .count-text {
      text-align: center;
      display: block;
      overflow: hidden;
      max-width: 100%;
      padding-top: 40px;
      box-sizing: border-box;
  }
  
  .count-text .number {
      display: inline-block;
  }
  
  .count-text .text {
      display: inline-block;
      padding-left: 20px;
      font-size: 39px;
      text-align: left;
      /* line-height: 20px; */
      padding-top: 43px;
      font-weight: bold;
      color: #333;
  }
  
  b.percentage {
      display: block;
      text-align: left;
      font-size: 62px;
      color: #ad1947;
  }
  /*======================================six slide======================================*/
  
  .slide-6 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  .hungry-population {
      width: 100%;
      display: block;
      height: auto;
      position: relative;
      margin-top: 0px;
  }
  
  .hungry-population .world-map {
      width: 50%;
      float: left;
  }
  
  .hungry-population .world-map img {
      max-width: 100%;
  }
  
  .hungry-population .map-text {
      width: 50%;
      float: left;
  }
  
  .first-slide-text6 {
      width: 100%;
      margin-top: 57px;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }
  
  .animate-number {
      background: #ad1947;
      color: #fff;
      /* padding: 50px; */
      border-radius: 50%;
      font-size: 92px;
      height: 140px;
      width: 140px;
      display: inline-block;
      line-height: 164px;
      text-align: center;
      font-weight: bold;
      position: relative;
  }
  
  .animate-number:after {
      content: "%";
      position: absolute;
      top: 0;
      right: -48px;
      background: #ad1947;
      color: #fff;
      /* padding: 50px; */
      border-radius: 50%;
      font-size: 45px;
      height: 70px;
      width: 70px;
      display: inline-block;
      line-height: 83px;
      text-align: center;
      font-weight: bold;
      top: 50%;
      margin-top: -35px;
  }
  
  .animation-count {
      text-align: center;
  }
  
  .text-effects {
      text-align: center;
  }
  
  .text-color {
      width: 343px;
      height: auto;
      max-width: 100%;
      margin-top: 0px;
      margin-left: 170px;
      box-sizing: border-box;
  }
  
  .text-effects span:nth-child(1) {
      font-size: 69px;
      font-weight: bold;
      color: #333;
      letter-spacing: 4px;
      line-height: 75px;
  }
  
  .text-effects span:nth-child(2) {
      font-size: 42px;
      display: block;
      color: #333;
      line-height: 25px;
  }
  
  .text-effects span:nth-child(3) {
      display: block;
      font-size: 82px;
      font-weight: bold;
      color: #ad1947;
  }
  
  .text-effects span:nth-child(4) {
      display: block;
      font-weight: bold;
      font-size: 55px;
      color: #333;
      line-height: 29px;
  }
  
  .text-effects span:nth-child(5) {
      display: block;
      font-size: 65px;
      color: #333;
      line-height: 71px;
  }
  
  .text-effects span:nth-child(6) {
      font-size: 127px;
      font-weight: bold;
      color: #333;
      line-height: 90px;
  }
  /*======================================seven slide======================================*/
  
  .slide-7 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background: url('../img/bg-5-slide.png');
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  .first-slide-text7 {
      width: 100%;
      margin-top: 57px;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
  }
  
  .text-effects2 {
      text-align: center;
  }
  
  .text-color2 {
      width: 450px;
      height: auto;
      max-width: 100%;
      margin-top: 0px;
      margin-left: 170px;
      margin-top: 70px;
      box-sizing: border-box;
  }
  
  .text-effects2 span:nth-child(1) {
      font-size: 72px;
      font-weight: 100;
      color: #333;
      letter-spacing: 0px;
      line-height: 75px;
  }
  
  .text-effects2 span:nth-child(2) {
      font-size: 144px;
      display: block;
      color: #ad1947;
      line-height: 100px;
      font-weight: bold;
  }
  
  .text-effects2 span:nth-child(3) {
      display: block;
      font-size: 149px;
      font-weight: bold;
      color: #333333;
      line-height: 113px;
  }
  
  .text-effects2 span:nth-child(4) {
      display: block;
      font-weight: 100;
      font-size: 86px;
      color: #333;
      line-height: 46px;
      position: relative;
      padding-left: 30px;
  }
  
  .text-effects2 span:nth-child(4) b {
      display: inline-block;
      ;
      font-weight: bold;
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      font-size: 25px;
      color: #333;
      line-height: 29px;
      position: absolute;
      margin-left: -42px;
  }
  
  .text-effects2 span:nth-child(5) {
      display: block;
      font-size: 102px;
      color: #fff;
      line-height: 80px;
      font-weight: bold;
      padding-top: 9px;
      background: #333;
      margin-top: 6px;
  }
  
  .map-black {
      padding-top: 50px;
      padding-left: 100px;
  }
  /*======================================eight slide======================================*/
  
  .slide-8 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: relative;
  }
  
  .cover-video {
      background: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .video-player {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      overflow: hidden;
  }
  
  .video-player .player-container {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .video-player .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
  }
  
  .video-player .cover video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .video-player .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 110px;
      height: 126px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .video-player .play-button img {
      max-width: 100%;
  }
  
  video {
      background-size: cover;
  }
  
  .position-changed {
      position: absolute;
      z-index: 1;
  }
  
  .position-changed .bottom-img .bottom-text2 h1 {
      color: #fff;
  }
  
  .slide-8 .first-slide-text7 .bottom-img .bottom-text2 h1 .growl b:before {
      background: url('../img/o-text-type-3-up-video.png');
  }
  
  .slide-8 .first-slide-text7 .bottom-img .bottom-text2 h1 .growl b:after {
      background: url('../img/o-text-type-3-down-video.png');
  }
  /*======================================nine slide======================================*/
  
  .slide-9 {
      width: 100%;
      padding: 0px;
      text-align: center;
  }
  
  .pledge-to {
      width: 1170px;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0px 5px;
  }
  
  .tg-line {
      text-align: center;
      font-size: 31px;
      padding: 120px 20px 0px 20px;
      color: #333;
      line-height: 36px;
  }
  
  .pledge-text {
      text-align: center;
      display: inline-block;
      font-size: 35px;
      font-weight: bold;
      margin: 20px 0px;
      letter-spacing: 1px;
      color: #333;
      position: relative;
      padding: 0px 20px;
  }
  
  .pledge-text:before {
      top: 4px;
      content: '';
      height: 20px;
      width: 9999px;
      position: absolute;
      right: 100%;
      z-index: 999999999;
      background: #333;
  }
  
  .pledge-text:after {
      top: 4px;
      content: '';
      height: 20px;
      width: 9999px;
      position: absolute;
      left: 100%;
      background: #333;
  }
  
  .pledge-to .bottom-text2 h1 {
      font-size: 59px;
      font-weight: 100;
      margin: 5px 0px;
  }
  
  .pledge-to .bottom-text2 {
      margin-bottom: 20px;
  }
  
  .select-option {
      width: 100%;
      height: auto;
      display: block;
      box-sizing: border-box;
  }
  
  .select-option .box {
      width: 25%;
      height: auto;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      float: left;
  }
  
  .select-option .box span.text {
      background: #333;
      color: #fff;
      display: block;
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 32px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      line-height: 27px;
      min-height: 112px;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
  }
  
  #audio {
      display: none;
  }
  
  .select-option .box span.text span {
      width: 52px;
      display: inline-block;
      right: 0px;
      position: absolute;
      bottom: 0;
      background: #ad1947;
      border-top-left-radius: 27px;
      -webkit-border-top-left-radius: 27px;
      padding-top: 5px;
      overflow: hidden;
      height: 42px;
      border-bottom-right-radius: 27px;
      -moz-border-bottom-right-radius: 27px;
      padding: 10px;
      box-sizing: border-box;
  }
  
  .select-option .box span.text span img {
      max-width: 100%;
  }
  
  .submit-btn {
      color: #fff !important;
      background: #333 !important;
      height: 100px !important;
      width: 100px !important;
      display: inline-block !important;
      border-radius: 50% !important;
      font-size: 24px !important;
      line-height: 100px !important;
      text-decoration: none !important;
      text-transform: uppercase !important;
  }
  
  .submit-btn .submit {
      background: #333;
      color: #fff;
      border: none;
      padding: 10px 26px;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 42px;
      cursor: pointer;
  }
  
  .submit-btn .submit:focus {
      outline: none;
  }
  
  input[type="radio"] {
      display: none;
  }
  
  input[type="radio"] + label {
      color: #292321;
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  
  input[type="radio"] + label span {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 4px solid #333333;
  }
  
  input[type="radio"] + label span {
      background-color: none;
  }
  
  input[type="radio"]:checked + label span {
      background-color: #ad1947;
  }
  
  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
      -webkit-transition: background-color 0.4s linear;
      -o-transition: background-color 0.4s linear;
      -moz-transition: background-color 0.4s linear;
      transition: background-color 0.4s linear;
  }
  
  .no-padding {
      margin-top: 0px;
      padding: 0px 20px;
  }
  
  .no-padding .head-text h1 {
      margin: 0px 30px;
  }
  
  .no-padding .head-text {
      margin-bottom: 0px;
  }
  
  .no-padding .head-text h1 {
      font-size: 120px !important;
  }
  
  .slide-9 .no-padding .head-text h1 span b:after {
      margin-bottom: 3px !important;
  }
  /*======================================ten slide======================================*/
  
  .slide-10 {
      width: 100%;
      padding: 0px;
      height: 100vh;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: relative;
      text-align: center;
  }
  
  .first-slide-text9 {
      width: 100%;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 57px;
  }
  
  .first-text-slide-9 {
      font-size: 24px;
      padding-top: 30px;
      display: block;
      padding-bottom: 10px;
  }
  
  .first-text-slide-9 b {
      font-weight: bold;
  }
  
  .last-text-slide-9 {
      font-size: 24px;
      display: block;
      line-height: 0;
  }
  
  .first-slide-text9 .bottom-img .bottom-text2 h1 {
      margin: 8px 0px;
  }
  
  .first-slide-text9 .bottom-img .bottom-text2 h1 {
      margin: 8px 0px;
      line-height: 20px;
  }
  
  .fixed-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }
  
  .fixed-footer .footer {
      width: 100%;
      height: auto;
      background: #333;
      color: #d2d2d2;
      padding: 8px 0px;
      text-transform: uppercase;
      display: block;
      overflow: hidden;
  }
  
  .fixed-footer .pledge-to span:first-child {
      float: left;
  }
  
  .fixed-footer .pledge-to span:nth-child(2) {
      float: right;
  }
  
  .social-part .text-part {
      font-size: 19px;
      padding-bottom: 20px;
      color: #333;
      display: block;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  ul.social-icons {
      padding-left: 0px;
      list-style: none;
      display: block;
      text-align: center;
  }
  
  ul.social-icons li {
      display: inline-block;
      padding: 0px 7px;
  }
  /*-------------------------eleven slide-----*/
  
  .position {
      float: left;
  }
  
  .city-name {
      width: 330px;
      max-width: 100%;
      height: 50px;
      background: #ad1947;
      display: block;
      margin-left: -20px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
  }
  
  .progress-bar {
      position: relative;
      height: 230px;
      width: 230px;
      z-index: 999999;
  }
  
  .data-wrapper-text .name {
      font-size: 22px;
  }
  
  .name .number {
      font-size: 84px;
      font-weight: bold;
      color: #ad1947;
      line-height: 33px;
  }
  
  .name .number b {
      font-size: 25px;
  }
  
  .name .data-bottom-text {
      display: block;
      line-height: 30px;
  }
  
  .progress-bar div {
      position: absolute;
      height: 230px;
      width: 230px;
      border-radius: 50%;
  }
  
  .progress-bar div span {
      position: absolute;
      font-family: Arial;
      font-size: 25px;
      line-height: 175px;
      height: 175px;
      width: 175px;
      left: 12.5px;
      top: 12.5px;
      text-align: center;
      border-radius: 50%;
      background-color: none;
      display: none;
  }
  
  .progress-bar .background {
      background-color: #b3cef6;
  }
  
  .progress-bar .rotate {
      clip: rect(0 115px 230px 0);
      background-color: #4b86db;
  }
  
  .progress-bar .left {
      clip: rect(0 115px 230px 0);
      opacity: 1;
      background-color: #b3cef6;
  }
  
  .progress-bar .right {
      clip: rect(0 115px 230px 0);
      transform: rotate(180deg);
      opacity: 0;
      background-color: #4b86db;
  }
  
  .slide-11 {
      background: url('../img/bg-5-slide.png') no-repeat center center;
      width: 100%;
      padding: 0px;
      height: auto;
      overflow: hidden;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  
  @keyframes toggle {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  .right,
  .rotate {
      background: #ad1947 !important;
  }
  
  .background,
  .left {
      background: #333 !important;
  }
  
  .progress-bar:after {
      border: 3px #ad1947 solid !important;
      position: absolute;
      content: '';
      height: 226px;
      width: 226px;
      border-radius: 50%;
      top: 0px;
      left: 0px;
  }
  
  .left-data {
      width: 50%;
      box-sizing: border-box;
      float: left;
  }
  
  .right-data {
      width: 50%;
      box-sizing: border-box;
      float: left;
  }
  
  .map-data {
      width: 100%;
      height: auto;
      display: block;
      box-sizing: border-box;
  }
  
  .data-wrapper-bar {
      width: 230px;
      height: 230px;
      float: left;
  }
  
  .data-wrapper-text {
      width: Calc(100% - 260px);
      float: left;
      position: relative;
      margin-left: -10px;
      padding-left: 20px;
      display: none;
  }
  
  #map {
      background: none;
  }
  
  .data-map {
      position: relative;
      margin-top: -178px;
      padding: 38px;
  }
  
  .red-map {
      padding-top: 0px;
      padding-left: 100px;
  }
  
  .inner-data {
      width: 100%;
      height: auto;
      padding-left: 141px;
      margin-top: 80px;
  }
  
  .amcharts-zoom-control {
      display: none;
  }
  
  #lean_overlay {
      position: fixed;
      z-index: 100;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background: #000;
      display: none;
  }
  
  .popupContainer {
      position: absolute;
      width: 330px;
      height: auto;
      left: 45%;
      top: 60px;
      background: #FFF;
      z-index: 99999999999 !important;
  }
  
  #modal_trigger {
      margin: 20px auto;
      width: 200px;
      display: block;
      border: 1px solid #DDD;
      border-radius: 4px;
  }
  
  .btn {
      padding: 10px 20px;
      background: #F4F4F2;
  }
  
  .btn_red {
      background: #ad1947;
      color: #FFF;
  }
  
  .btn:hover {
      background: #ad1947;
      color: #fff;
  }
  
  .btn_red:hover {
      background: #ad1947;
      color: #fff;
  }
  
  a.btn {
      color: #666;
      text-align: center;
      text-decoration: none;
  }
  
  a.btn_red {
      color: #FFF;
  }
  
  .one_half {
      width: 50%;
      display: block;
      float: left;
  }
  
  .one_half.last {
      width: 100%;
      margin-left: 0%;
  }
  /* Popup Styles*/
  
  .popupHeader {
      font-size: 16px;
      text-transform: uppercase;
  }
  
  .popupHeader {
      background: #F4F4F2;
      position: relative;
      padding: 10px 20px;
      border-bottom: 1px solid #DDD;
      font-weight: bold;
  }
  
  .popupHeader .modal_close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 9px 15px;
      background: #E4E4E2;
      cursor: pointer;
      color: #aaa;
      font-size: 16px;
  }
  
  .popupBody {
      padding: 20px;
  }
  /* Social Login Form */
  
  .social_login {}
  
  .social_login .social_box {
      display: block;
      clear: both;
      padding: 10px;
      margin-bottom: 10px;
      background: #F4F4F2;
      overflow: hidden;
  }
  
  .social_login .icon {
      display: block;
      width: 10px;
      padding: 5px 10px;
      margin-right: 10px;
      float: left;
      color: #FFF;
      font-size: 16px;
      text-align: center;
  }
  
  .social_login .fb .icon {
      background: #3B5998;
  }
  
  .social_login .google .icon {
      background: #DD4B39;
  }
  
  .social_login .icon_title {
      display: block;
      padding: 5px 0;
      float: left;
      font-weight: bold;
      font-size: 16px;
      color: #777;
  }
  
  .social_login .social_box:hover {
      background: #E4E4E2;
  }
  
  .centeredText {
      text-align: center;
      margin: 20px 0;
      clear: both;
      overflow: hidden;
      text-transform: uppercase;
  }
  
  .head-text,
  .head-text2,
  .head-text3 {
      text-align: center;
  }
  
  .action_btns {
      clear: both;
      overflow: hidden;
  }
  
  .action_btns a {
      display: block;
  }
  /* User Login Form */
  
  .user_login {
      display: block;
  }
  
  .user_login label {
      display: block;
      margin-bottom: 5px;
  }
  
  .user_login input[type="text"],
  .user_login input[type="email"],
  .user_login input[type="password"] {
      display: block;
      width: 90%;
      padding: 10px;
      border: 1px solid #DDD;
      color: #666;
  }
  
  .user_login input[type="checkbox"] {
      float: left;
      margin-right: 5px;
  }
  
  .user_login input[type="checkbox"]+label {
      float: left;
  }
  
  .user_login .checkbox {
      margin-bottom: 10px;
      clear: both;
      overflow: hidden;
  }
  
  .forgot_password {
      display: block;
      margin: 20px 0 10px;
      clear: both;
      overflow: hidden;
      text-decoration: none;
      color: #ED6347;
  }
  /* User Register Form */
  
  .user_register {
      display: none;
  }
  
  .user_register label {
      display: block;
      margin-bottom: 5px;
  }
  
  .user_register input[type="text"],
  .user_register input[type="email"],
  .user_register input[type="password"] {
      display: block;
      width: 90%;
      padding: 10px;
      border: 1px solid #DDD;
      color: #666;
  }
  
  .user_register input[type="checkbox"] {
      float: left;
      margin-right: 5px;
  }
  
  .user_register input[type="checkbox"]+label {
      float: left;
  }
  
  .user_register .checkbox {
      margin-bottom: 10px;
      clear: both;
      overflow: hidden;
  }
  /*=======================================
      responsive css
======================================*/
  
  @media(max-width:1100px) {
      .first-slide-text .head-text h1 {
          font-size: 113px;
      }
      .head-text h1 .h {
          font-size: 140px;
          letter-spacing: -31px;
      }
      .head-text {
          margin-bottom: 48px;
      }
      .head-text2 span.one {
          font-size: 39px;
      }
      .head-text2 span.two {
          font-size: 78px;
      }
      .head-text2 span.three {
          font-size: 197px;
          line-height: 148px;
      }
      .text-color {
          margin-left: 100px;
      }
      .animate-number {
          font-size: 55px;
          height: 100px;
          width: 100px;
          line-height: 119px;
      }
      .animate-number:after {
          right: -29px;
          font-size: 24px;
          height: 48px;
          width: 48px;
          line-height: 55px;
          top: 50%;
          margin-top: -24px;
      }
      .text-effects span:nth-child(1) {
          font-size: 48px;
          line-height: 59px;
      }
      .text-effects span:nth-child(2) {
          font-size: 31px;
          line-height: 0px;
      }
      .text-effects span:nth-child(3) {
          font-size: 61px;
          line-height: 79px;
      }
      .text-effects span:nth-child(4) {
          font-size: 40px;
          line-height: 0px;
      }
      .text-effects span:nth-child(5) {
          font-size: 49px;
          line-height: 74px;
      }
      .text-effects span:nth-child(6) {
          font-size: 96px;
          line-height: 40px;
      }
      .text-effects2 span:nth-child(5) {
          display: inline-block;
          font-size: 68px;
          line-height: 80px;
          padding-top: 9px;
          margin-top: 6px;
          padding-left: 2px;
          padding-right: 2px;
      }
      .text-effects2 span:nth-child(1) {
          font-size: 49px;
          line-height: 54px;
      }
      .text-effects2 span:nth-child(2) {
          font-size: 95px;
          line-height: 67px;
      }
      .text-effects2 span:nth-child(3) {
          font-size: 97px;
          line-height: 77px;
      }
      .text-effects2 span:nth-child(4) {
          font-size: 55px;
          color: #333;
          line-height: 46px;
      }
      .text-color2 {
          margin-left: 0px;
      }
      .map-black {
          padding-top: 70px;
          padding-right: 152px;
          padding-left: 0px;
      }
      .tg-line {
          text-align: center;
          font-size: 23px;
          padding: 100px 20px 0px 20px;
          color: #333;
          line-height: 28px;
      }
      .slide-1 .first-slide-text .head-text h1 span b:after {
          margin-bottom: 0px !important;
      }
      .select-option .box span.text {
          background: #333;
          color: #fff;
          display: block;
          padding: 10px 5px;
          font-size: 15px;
          border-radius: 10px;
          line-height: 21px;
          min-height: 104px;
          margin-bottom: 10px;
      }
      .select-option .box {
          width: 20%;
          height: auto;
          padding: 0px 20px 20px 20px;
      }
      .pledge-to .bottom-text2 h1 {
          font-size: 34px;
          font-weight: 100;
          margin: 5px 0px;
          line-height: 30px;
      }
      .pledge-to .bottom-text2 h1 .growl b:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -7px;
          width: 14px;
          height: 9px;
          margin-top: -8px;
          background: url('../img/o-text-type-3-up.png');
      }
      .pledge-to .bottom-text2 h1 .growl b:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -7px;
          width: 14px;
          height: 9px;
          margin-bottom: -2px;
          background: url('../img/o-text-type-3-down.png');
      }
      .bottom-text2 h1 .h {
          font-size: 44px;
          letter-spacing: -7px;
      }
      .pledge-to .bottom-text2 {
          padding-bottom: 0px;
      }
      .progress-bar:after {
          border: 3px #ad1947 solid !important;
          position: absolute;
          content: '';
          height: 154px;
          width: 154px;
          border-radius: 50%;
          top: 0px;
          left: 0px;
      }
      .progress-bar {
          position: relative;
          height: 160px;
          width: 160px;
          z-index: 999999;
      }
      .progress-bar div {
          position: absolute;
          height: 160px;
          width: 160px;
          border-radius: 50%;
      }
      .progress-bar .rotate {
          clip: rect(0 80px 160px 0);
      }
      .progress-bar .left {
          clip: rect(0 80px 160px 0);
      }
      .data-wrapper-bar {
          width: 160px;
          height: 230px;
          float: left;
      }
      .name .number {
          font-size: 54px;
      }
      .name .data-bottom-text {
          display: block;
          line-height: 24px;
          font-size: 20px;
      }
      .city-name {
          width: 100%;
          font-size: 17px;
          height: 40px;
          margin-left: -20px;
          line-height: 44px;
      }
      .inner-data {
          padding-left: 55px;
      }
      .hungry-population .world-map {
          width: 50%;
          float: left;
          margin-top: 58px;
      }
  }
  
  @media(max-width:1025px) {
      .first-slide-text .head-text h1 {
          font-size: 60px;
      }
      .count-text {
          padding-top: 66px;
      }
      .hungry-population .world-map img {
          max-width: 100%;
          width: 400px;
          padding-left: 40px;
      }
      .text-color {
          margin-top: 35px;
      }
      .hungry-population .world-map img {
          max-width: 100%;
          width: 330px;
          padding-left: 40px;
      }
      .map-black {
          padding-top: 0PX;
      }
      .head-text h1 .h {
          font-size: 79px;
          letter-spacing: -14px;
      }
      .bottom-text {
          font-weight: 600;
          font-size: 28px;
      }
      .growl b:before {
          margin-left: -16px;
          width: 33px;
          height: 22px;
          margin-top: -18px;
          background: url('../img/o-text-before-tab.png');
      }
      .growl b:after {
          margin-left: -16px;
          width: 33px;
          height: 22px;
          margin-bottom: -8px;
          background: url('../img/o-text-after-tab.png');
      }
      .head-text2 span.one {
          font-size: 23px;
      }
      .head-text2 span.two {
          font-size: 46px;
      }
      .head-text2 span.three {
          font-size: 116px;
          line-height: 92px;
      }
      .our-planet-text span {
          font-size: 36px;
      }
      .our-planet-text {
          font-size: 25px;
          line-height: 34px;
      }
      .count-percentage {
          font-size: 113px;
          letter-spacing: -4px;
      }
      b.percentage {
          font-size: 34px;
      }
      .count-text .text {
          font-size: 23px;
      }
      .text-color {
          margin-left: 30px;
      }
      .map-black {
          padding-right: 20px;
      }
      .text-effects2 span:nth-child(4) b {
          font-size: 16px;
          color: #333;
          line-height: 5px;
          position: absolute;
          margin-left: -37px;
      }
      .text-effects2 span:nth-child(4) {
          font-size: 35px;
          color: #333;
          line-height: 17px;
      }
      .text-effects2 span:nth-child(5) {
          font-size: 46px;
          line-height: 80px;
          padding-left: 2px;
          padding-right: 2px;
      }
      .text-effects2 span:nth-child(3) {
          font-size: 66px;
          line-height: 74px;
      }
      .text-effects2 span:nth-child(2) {
          font-size: 64px;
          line-height: 25px;
      }
      .text-effects2 span:nth-child(1) {
          font-size: 32px;
          line-height: 54px;
      }
      .select-option .box {
          width: 25%;
          height: auto;
          padding: 0px 10px 20px 10px;
      }
      .select-option .box span.text {
          font-size: 14px;
      }
      .select-option .box span.text {
          border-radius: 28px;
      }
      .no-padding .head-text h1 {
          font-size: 56px !important;
      }
      .no-padding .head-text h1 .h {
          font-size: 69px;
          letter-spacing: -13px;
      }
      .slide-9 .no-padding .head-text h1 span b:after {
          margin-bottom: -9px !important;
      }
      .no-padding .head-text {
          margin-bottom: 30px;
      }
      .city-name {
          width: 100%;
          font-size: 17px;
          height: auto;
          margin-left: 0px;
      }
      .name .data-bottom-text {
          font-size: 14px;
      }
      .left-data {
          width: 60%;
      }
      .right-data {
          width: 40%;
      }
      .red-map {
          padding-left: 0px;
      }
      .slide-1 .first-slide-text .head-text h1 span b:after {
          margin-bottom: -8px !important;
      }
      .right-user {
          margin-bottom: 46px;
      }
      .left-user {
          margin-bottom: 46px;
      }
  }
  
  @media(max-width:768px) {
      .progress-bar {
          position: relative;
          height: 100px;
          width: 100px;
          z-index: 999999;
      }
      .progress-bar div {
          position: absolute;
          height: 100px;
          width: 100px;
          border-radius: 50%;
      }
      .progress-bar .rotate {
          clip: rect(0 50px 100px 0);
      }
      .progress-bar .left {
          clip: rect(0 50px 100px 0);
      }
      .data-wrapper-bar {
          width: 100px;
          height: 230px;
          float: left;
      }
      .progress-bar:after {
          height: 94px;
          width: 94px;
      }
      .data-map {
          margin-top: -231px;
      }
      .city-name {
          width: 100%;
          font-size: 12px;
      }
      .data-wrapper-text {
          width: Calc(100% - 173px);
      }
      .first-slide-text {
          width: 100%;
          margin-top: 300px;
      }
      .hungry-population {
          margin-top: 100px;
      }
  }
  
  @media(max-width:640px) {
      .first-slide-text .head-text h1 {
          font-size: 50px;
          margin: 30px 10px;
      }
      .head-text h1 .h {
          font-size: 66px;
          letter-spacing: -13px;
      }
      .bottom-text {
          font-weight: 600;
          font-size: 23px;
      }
      .scroll-text {
          font-size: 16px;
      }
      .growl b:before {
          margin-left: -11px;
          width: 22px;
          height: 14px;
          margin-top: -12px;
          background: url('../img/o-text-before-mob.png');
      }
      .growl b:after {
          margin-left: -11px;
          width: 22px;
          height: 14px;
          margin-bottom: -3px;
          background: url('../img/o-text-after-mob.png');
      }
      .animate-number {
          font-size: 22px;
          height: 50px;
          width: 50px;
          line-height: 56px;
      }
      .animate-number:after {
          right: -19px;
          font-size: 15px;
          height: 30px;
          width: 30px;
          line-height: 36px;
          top: 50%;
          margin-top: -15px;
      }
      .text-effects span:nth-child(1) {
          font-size: 28px;
          line-height: 45px;
      }
      .text-effects span:nth-child(2) {
          font-size: 19px;
          line-height: 0px;
      }
      .text-effects span:nth-child(3) {
          font-size: 37px;
          line-height: 52px;
      }
      .text-effects span:nth-child(4) {
          font-size: 25px;
          line-height: 4px;
      }
      .text-effects span:nth-child(5) {
          font-size: 30px;
          line-height: 44px;
      }
      .text-effects span:nth-child(6) {
          font-size: 59px;
      }
      .hungry-population {
          margin-top: 0px;
      }
      .text-color {
          margin-left: 0px;
      }
      .no-padding {
          margin-top: 30px !important;
      }
      .hungry-population .world-map {
          width: 40%;
          padding-left: 30px;
          box-sizing: border-box;
          margin-top: 0px;
      }
      .hungry-population .map-text {
          width: 60%;
      }
      .text-color2 {
          margin-top: 0px;
      }
      .map-black {
          padding-top: 10px;
      }
      .text-effects2 span:nth-child(1) {
          font-size: 25px;
          line-height: 47px;
      }
      .text-effects2 span:nth-child(2) {
          font-size: 49px;
          line-height: 18px;
      }
      .text-effects2 span:nth-child(3) {
          font-size: 51px;
          line-height: 57px;
      }
      .text-effects2 span:nth-child(4) {
          font-size: 27px;
          line-height: 9px;
      }
      .text-effects2 span:nth-child(4) b {
          font-size: 11px;
          color: #333;
          line-height: 0px;
          position: absolute;
          margin-left: -32px;
      }
      .text-effects2 span:nth-child(5) {
          font-size: 36px;
          line-height: 34px;
          padding-left: 2px;
          padding-right: 2px;
      }
      .tg-line {
          text-align: center;
          font-size: 14px;
          padding: 110px 0px 0px 0px;
          line-height: 17px;
      }
      .select-option .box span.text {
          font-size: 13px;
      }
      .select-option .box {
          width: 50%;
      }
      .select-option .box span.text {
          min-height: 85px;
      }
      input[type="radio"] + label span {
          display: inline-block;
          width: 10px;
          height: 10px;
      }
      .social-part .text-part {
          font-size: 13px;
      }
      .last-text-slide-9 {
          font-size: 17px;
      }
      .slide-1 .first-slide-text .head-text h1 span b:after {
          margin-bottom: -3px !important;
      }
      .first-text-slide-9 {
          font-size: 16px;
      }
      .left-data {
          width: 100%;
          padding: 20px;
      }
      .right-data {
          width: 100%;
          padding: 20px;
      }
      .inner-data {
          padding-left: 0px;
          display: block;
          overflow: hidden;
          margin-top: 0px;
          text-align: center;
      }
      .data-wrapper-bar {
          width: 100px;
          height: auto;
          margin: 0 auto;
          float: none;
          margin-bottom: 20px;
      }
      .data-wrapper-text {
          width: 100%;
      }
  }
  
  @media (max-width: 480px) {
      .first-slide-text .head-text h1 {
          font-size: 37px;
          margin: 30px 8px;
      }
      .head-text h1 .h {
          font-size: 45px;
          letter-spacing: -7px;
      }
      .bottom-img .bottom-text2 h1 .h {
          font-size: 43px;
          letter-spacing: -7px;
      }
      .bottom-text {
          font-weight: 600;
          font-size: 19px;
      }
      .growl b:before {
          margin-top: -12px;
          background: url('../img/o-text-before-mob.png');
      }
      .growl b:after {
          margin-bottom: -5px;
          background: url('../img/o-text-after-mob.png');
      }
      .head-text2 span.one {
          font-size: 14px;
      }
      .head-text2 span.two {
          font-size: 28px;
      }
      .head-text2 span.three {
          font-size: 71px;
          line-height: 68px;
      }
      .first-slide-text2 .bottom-text2 h1 {
          font-size: 34px;
      }
      .bottom-text2 h1 .h {
          font-size: 41px;
          letter-spacing: -7px;
      }
      .first-slide-text2 .bottom-text2 h1,
      .first-slide-text3 .bottom-text2 h1 {
          margin: 30px 5px;
      }
      .bottom-img .bottom-text2 h1 {
          font-size: 35px;
          margin: 30px 5px;
          color: #333;
      }
      .count-percentage {
          font-size: 72px;
          letter-spacing: -3px;
      }
      b.percentage {
          font-size: 24px;
      }
      .count-text .text {
          font-size: 17px;
          padding-left: 5px;
      }
      .select-option .box {
          width: 80%;
          margin: 0% 10%;
      }
      .select-option .box span.text {
          min-height: 62px;
      }
      .select-option .box:nth-child(4) {
          margin-left: 10%;
      }
      .select-option .box:nth-child(5) {
          margin-right: 10%;
      }
      .submit-btn .submit {
          background: #333;
          color: #fff;
          border: none;
          padding: 5px 20px;
          font-size: 17px;
      }
      .first-slide-text {
          width: 100%;
          margin-top: 250px;
      }
      .right-user {
          margin-bottom: 20px;
      }
      .hungry-population .world-map {
          margin-top: 110px;
          padding-left: 0px;
      }
      .hungry-population .world-map img {
          padding-left: 20px;
      }
      .text-effects2 {
          text-align: center;
          margin-top: 100px;
      }
      .hungry-population .world-map img {
          padding-left: 0px;
      }
      .slide-6 .hungry-population .world-map img {
          padding-left: 20px;
      }
      .no-padding .head-text h1 {
          font-size: 30px !important;
      }
      .left-user {
          margin-bottom: 20px;
      }
      .no-padding .head-text h1 .h {
          font-size: 36px;
          letter-spacing: -7px;
      }
      .no-padding .head-text h1 .growl b:before {
          margin-top: -14px;
      }
      .slide-9 .no-padding .head-text h1 span b:after {
          margin-bottom: -5px !important;
      }
  }
  
  @media (max-width: 320px) {
      .first-slide-text .head-text h1 {
          font-size: 34px;
      }
      .head-text h1 .h {
          font-size: 40px;
          letter-spacing: -7px;
      }
  }

.slide{position: relative;}
.slide-2 .first-slide-text2 {
  position: absolute;

}